[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
corpy = {path = ".", editable = true}
ipdb = "*"
pytest = "*"
pydocstyle = "*"
pylint = "*"
mypy = "*"
"flake8" = "*"
"doc8" = "*"
rope = "*"
black = "*"

[pipenv]
allow_prereleases = true
