[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
corpy = {path = ".", editable = true}
ipdb = "*"
pytest = "*"
pydocstyle = "*"
pylint = "*"
mypy = "*"
"flake8" = "*"
"doc8" = "*"
yapf = "*"
rope = "*"

[requires]
python_version = "3.6"
