[tool.poetry]
name = "corpy"
version = "0.2.0"
description = "Tools for processing language data."

authors = ["David Lukes <dafydd.lukes@gmail.com>"]
license = "GPL-3.0+"

repository = "https://github.com/dlukes/corpy"
readme = "README.rst"
keywords = ["corpus", "linguistics", "NLP"]

include = ["corpy/phonetics/*.tsv"]

[tool.poetry.dependencies]
python = "^3.6"
regex = "^2019.4"
lazy = "^1.4"
lxml = "^4.3"
matplotlib = "^3.1"
wordcloud = "^1.5"
"ufal.morphodita" = "^1.9"
numpy = "^1.16"
click = "^7.0"

[tool.poetry.dev-dependencies]
ipdb = "^0.12.0"
pytest = "^4.5"
pytest-xdist = "^1.28"
# python linters
flake8 = "^3.7"
pylint = "^2.3"
pydocstyle = "^3.0"
mypy = "^0.701.0"
# auto-formatting
black = {version = "*", allows-prereleases = true}
# refactoring
rope = "^0.14.0"
# rst linter
doc8 = "^0.8.0"
twine = "^1.13"
sphinx = "^2.0"
sphinx-rtd-theme = "^0.4.3"

[tool.poetry.scripts]
xc = "corpy.scripts.xc:main"
zip-verticals = "corpy.scripts.zip_verticals:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
