[tool.poetry]
name = "corpy"
version = "0.2.3"
description = "Tools for processing language data."

authors = ["David Lukes <dafydd.lukes@gmail.com>"]
license = "GPL-3.0+"

repository = "https://github.com/dlukes/corpy"
readme = "README.rst"
keywords = ["corpus", "linguistics", "NLP"]

include = ["corpy/phonetics/*.tsv"]

[tool.poetry.dependencies]
python = "^3.6"
# regex is versioned using calver plus it sticks to the API of stdlib's re
# module, so whichever latest version is fine
regex = "*"
lazy = "^1.4"
lxml = "^4.6.1"
matplotlib = "^3.1"
wordcloud = "^1.8.1"
"ufal.morphodita" = "^1.10"
"ufal.udpipe" = "^1.2"
numpy = "^1.16"
click = "^7.0"

[tool.poetry.dev-dependencies]
ipdb = "^0.12.0"
pytest = "^4.5"
pytest-xdist = "^1.28"
# python linters
flake8 = "^3.7"
pylint = "^2.3"
twine = "^1.13"
sphinx = "^3.4.3"
sphinx-rtd-theme = "^0.5.1"

[tool.poetry.scripts]
xc = "corpy.scripts.xc:main"
zip-verticals = "corpy.scripts.zip_verticals:main"

[build-system]
requires = ["poetry>=1"]
build-backend = "poetry.masonry.api"
